@font-face {
  font-family: "PT Sans";
  src:
    url("../fonts/PT Sans/ptsans.woff") format("woff"),
    url("../fonts/PT Sans/ptsans.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
